
#subview-follow {

  background-color: black;
  padding: 0;
  
  ul {

    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    display: block;

    li {

        height: 50%;
        position: relative;

        h1 {
            color: white;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
            text-transform: none;
            font-size: 30px;
            position: absolute;
            bottom: 20px;
            display: block;
            text-align: center;
            width: 100%;
        }

        &#twitter {
            background: #598dca url("../img/icon-tw.png") no-repeat center center;
        }


        &#facebook {
            background: rgb(58, 88, 155) url("../img/icon-fb.png") no-repeat center center;
        }
    }
  }

}
